@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

textarea {
    font-size: 20px;
}

button {
    padding: 0.8rem 1.7rem;
    background-color: orange;
    border-radius: 10px;
    border: none;
    font-size: larger;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
}


.result {
    font-size: 20px;
}

.nav {
    display: flex;
    transition: 0.3s all ease;
    background: #27292F;
    z-index: 9999;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.menu {
    display: flex;
    list-style-type: none;
}

.format {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4;
    color: #eee;
    border-bottom: 1px solid#333;
    padding: 1.2rem;
    text-transform: uppercase;
    transition: 0.3s all ease;
}
.format:hover {
    background: #111;
    cursor: pointer;
}

.current {
    background: #111;
}

/***hamburger icon***/
.hamburger {
    position: absolute;
    top: 10px;
    right: -50px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger span {
    display: block;
    background: #222;
    margin: 6px 0;
    height: 6px;
    width: 36px;
    border-radius: 2px;
    position: relative;
    transition: 0.3s;
}

.change.first-bar {
    top: 11px;
    transform: rotate(45deg);
}
.change.second-bar {
    opacity: 0;
}
.change.third-bar {
    bottom: 13px;
    transform: rotate(-45deg);
}

/*** Main ***/
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transition: 0.3s all ease;
}

.content__heading {
    text-align: center;
    padding: 2rem;
}

.content__details {
    padding: 2rem;
    letter-spacing: 1px;
}

.content__image {
    padding: 1rem;
    width: 100%;
    height: auto;
}